<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sina.weibo.sdk.demo"
    android:versionCode="5"
    android:versionName="2.5.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- 主 Activity -->
        <activity
            android:name=".WBDemoMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 授权认证 -->
        <activity android:name=".WBAuthActivity" />
        <activity android:name=".WBAuthCodeActivity" />
        <activity android:name=".WBShareMainActivity" />
        
        <!-- 分享 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".WBShareResponseActivity" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_RESP_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- 登录/注销 -->
        <activity android:name=".WBLoginLogoutActivity" />

        <!-- OpenAPI -->
        <activity android:name=".openapi.WBOpenAPIActivity" />
        <activity android:name=".openapi.WBUserAPIActivity" />
        <activity android:name=".openapi.WBStatusAPIActivity" />
        <activity android:name=".openapi.WBCommentAPIActivity" />
        <activity android:name=".openapi.WBInviteAPIActivity" />
        <activity android:name=".openapi.WBLogoutAPIActivity" />

        <!-- 其他 -->
        <!-- <activity android:name=".WBCallActivityV3" /> -->
        <!-- <activity android:name=".WBUserStateActivity" /> -->
    </application>

</manifest>
